*{
    margin:0;
    padding:0;
}

body{
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    background-image: url('img/bg0.jpg');
    min-height:100vh ;
    background-size: 80em;
    background-repeat: no-repeat;
    align-items: center;
}

.counter-box{
    flex: 0 0 70%;
    text-align:center;
    padding: 1rem;
    margin-left: 30px;
}

.counter{
    font-size: 6rem;
    font-weight: bold;
}

.btn{
    background-color: black;
    border-radius: 7px;
    padding:10px;
    margin:10px;
    color: white;
    font-weight: 700;
    font-variant: small-caps;
    border: none;
    font-size: 15px;
    box-shadow: 0px 5px #001221ab;
    outline:none;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.878);
}

.btn:active{
    box-shadow: none;
    transform: translateY(5px);
    margin-bottom: 5px;
}
/*
#start{
    box-shadow: none;
    background-color: rgb(245, 226, 54);
    color: black;
    border: 2px solid black;
    padding: 12px;
    margin: 15px;
    font-size: 20px;
}

#start:active{
    opacity: 0.8;
}*/
.divbtn{
    margin:10px;
    border:none;
    outline:none;
    background: none;
    cursor: pointer;
    opacity: 0.4;
}

.divbtn:hover{
    opacity: 0.6;
}

.right, .left{
    height: 50px;
    width: 20px;
    background-color: black;
}
#R{
    margin-left: 50px;
}
#L{
    margin-left: 1380px;
}

#Rtop,#Lbottom{
    transform: rotate(45deg);
}

#Ltop,#Rbottom{
    transform: rotate(-45deg);
}

#M{
    height: 20px;
    width: 20px;
    background-color: black;
    transform: rotate(45deg);
}
